/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
body {
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
}
#sign-up-form > fieldset {
  display: grid;
  gap: 15px;
}
fieldset > div {
  display: flex;
  flex-direction: column;
}
:is(.email-account, .zip-code, .password-field, .confirm-password) {
  position: relative;
}

input:required + span::before {
  content: "Required";
  position: absolute;
  right: 5px;
  top: -2px;
  background-color: black;
  color: white;
  padding: 2px;
  font-size: 12px;
}

input:not(#cpass):invalid + span::after {
  content: "✗";
  color: red;
}
input:not(#cpass):valid + span::after {
  content: "✔";
  color: green;
}
input:invalid + span::after,
input:valid + span::after {
  display: block;
  position: absolute;
  right: 5px;
  top: 26px;
}
.active-error {
  width: 100%;
  background-color: crimson;
  color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 0 0 5px 5px;
}
/* Passsword error message */
.invalid {
  color: crimson;
}
.invalid::before {
  content: "✗";
}
.valid {
  color: green;
}
.valid::before {
  content: "✔";
}
.invalid::before,
.invalid::before {
  margin-right: 10px;
}
/* Confirm password field */
.invalid-confirm-pass {
  color: white;
  background-color: crimson;
  margin: 2px;
  border-radius: 5px;
}
.invalid-confirm-pass::after {
  color: crimson;
  content: "✗";
}
.valid-confirm-pass {
  color: green;
}
.valid-confirm-pass::after {
  content: "✔";
}
